#root {
  padding: 50px;
}

.title-tasks {
  text-align: center;
  font-size: 26px;
  font-weight: 700;
}

.task {
  display: grid;
  grid: 1fr / repeat(4, 1fr) repeat(3, minmax(auto, 100px));
  align-items: center;
  border: 1px solid gray;
  padding: 3px 8px;
  margin: 10px 0;
  background-color: #e8eaf5;
}

.input-panel {
  width: 100%;
  margin: 8px 0;
  padding: 2px;
}

.input-panel {
  width: 100%;
  margin: 8px 0;
  padding: 2px;
}

.input-panel button {
  padding: 4px;
  width: 10%;
}

.input-panel input {
  height: 23px;
  padding-left: 4px;
}

#task-name-input {
  width: 500px;
}

#task-category-input {
  height: 27px;
}
